.data {
    width: 100%;
}

.table {
    width: 100%;
}

.side-by-side {
    display:flex;
    padding: 20px;
    width: 100%;

}

.border {
    border: solid white 2px;
    width: 100%;

}

.space-around {
    padding: 20px 10px;

}

.large-bold {
    font-size: 150%;
    font: bold;
}

#day-picker {
    justify-content: space-between;
    width: 100%;

}

#day-picker h3 {
    font-size:larger;
}

table {

}

#forecast {
    color: #282c34;
    background-color: white;;
}